.container {
    height: 960px;
    width: 960px;
}
.btn {
    height: 20px;
    width: 100px;
    margin: 10px;
}
.row {
    display: flex;
    flex-direction: row;
}
.square {
    width: 20px;
    height: 20px;
    display: flex;
    border: 1px black dotted;
}

.square:hover {
    background-color: black;
}